<app-navbar></app-navbar>
<div class="container">
  <form [formGroup]="propertyEditForm" (ngSubmit)="edit()" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">Titolo</label>
      <input
        type="title"
        class="form-control"
        id="title"
        aria-describedby="titleHelp"
        formControlName="title"
        [value]="property?.title"
      />
      <div
        *ngIf="title?.invalid && (title?.dirty || title?.touched)"
        class="text-danger"
      >
        <div *ngIf="title?.errors?.['required']">Il titolo è necessario</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Indirizzo</label>
      <input
        type="address"
        class="form-control"
        id="address"
        aria-describedby="addressHelp"
        formControlName="address"
        [value]="property?.address"
      />
      <div
        *ngIf="address?.invalid && (address?.dirty || address?.touched)"
        class="text-danger"
      >
        <div *ngIf="address?.errors?.['required']">L'indirizzo è necessario</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Prezzo</label>
      <input
        type="price"
        class="form-control"
        id="price"
        aria-describedby="priceHelp"
        formControlName="price"
        [value]="property?.price"
      />
      <div
        *ngIf="price?.invalid && (price?.dirty || price?.touched)"
        class="text-danger"
      >
        <div *ngIf="price?.errors?.['required']">Il prezzo è necessario</div>
        <div *ngIf="price?.errors?.['min']">Il prezzo non può essere minore di 1</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descrizione</label>
      <textarea
        name="description"
        class="form-control"
        id="description"
        cols="30"
        rows="10"
        formControlName="description"
        aria-describedby="descriptionHelp"
        [value]="property?.description"
      ></textarea>
      <div
        *ngIf="
          description?.invalid && (description?.dirty || description?.touched)
        "
        class="text-danger"
      >
        <div *ngIf="description?.errors?.['required']">
          La descrizione è necessaria
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="file" class="form-label">Foto</label>
      <div class="d-flex">
        <div *ngFor="let image of property?.property_images" class="mx-2">
          <img src="{{image.link}}" alt="{{image.filename}}" class="img-thumbnail" style="max-width: 300px;"><br>
          <button class="btn btn-danger w-100" type="button" (click)="removeImage(image.id)">Rimuovi</button>
        </div>
      </div>
      <input
        class="form-control"
        #Image
        type="file"
        id="file"
        (change)="getFiles($event)"
        multiple
      />
      <div *ngIf="!checkFiles" class="text-danger">
        Almeno una immagine è necessaria
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Modifica</button>
  </form>
</div>
