<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-property-image-carousel
        [property-id]="property?.id"
        [property-link]="property?.property_images"
      ></app-property-image-carousel>
    </div>
    <div class="col-md-4 p-3 rounded bg-info text-white">
      <div>
        <div class="row">
          <div class="col-md-6">
            <span>Title</span>
            <p>{{ property?.title }}</p>
          </div>
          <div class="col-md-6">
            <span>Price</span>
            <p>{{ property?.price }}€</p>
          </div>
        </div>
      </div>
      <hr />
      <div>
        <div class="row">
          <div class="col">
            <span>Description</span>
            <p>{{ property?.description }}</p>
          </div>
        </div>
      </div>
      <hr />
      <div>
        <div class="row">
          <div class="col-md-6">
            <span>Author</span>
            <p>{{ property?.user?.username }}</p>
          </div>
          <div class="col-md-6">
            <span>Author Phone</span>
            <p>{{ property?.user?.phone }}</p>
          </div>
        </div>
      </div>
      <hr />
      <div>
        <div class="row">
          <div class="col">
            <span>Author Email</span>
            <p>{{ property?.user?.email }}</p>
          </div>
          <div class="col">
            <span>Address</span>
            <p>{{ property?.address }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!myProperty">
        <div *ngIf="!alreadyBooked; else alreadyBookedRef">
          <div *ngIf="logged; else loggedOut">
            <hr />
            <span>Book a visit by leaving a deposit of {{ depositAmount }}€</span>
            <app-paypal
              [amount]="depositAmount"
              [propertyId]="property?.id"
            ></app-paypal>
          </div>
        </div>
      </div>
      <div *ngIf="myProperty">
        <a class="btn btn-success w-100 mb-3" routerLink="/property-edit/{{property?.id}}">Modifica</a>
        <button type="button" class="btn btn-danger w-100" (click)="delete()">Delete</button>
      </div>
      <ng-template #alreadyBookedRef>
        <span class="text-success bg-black p-2">
          <b>Visit has been already booked</b>
        </span>
      </ng-template>
      <ng-template #loggedOut>
        <span class="text-warning bg-black p-2">
          <b>Please login to book a visit</b>
          </span>
      </ng-template>
    </div>
  </div>
</div>
